.link {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.goal, .tactic {
    stroke: black;
    stroke-width: 2px;
}

.goal {
    fill: lightsteelblue;
}

.solvedgoal {
    fill: green;
}

.tactic {
    fill: orange;
}

.current {
    stroke: lightgreen;
    stroke-width: 4px;
}

.node {
    font-family: Monaco, DejaVu Sans Mono, monospace;
    font-size: 18px;
    word-wrap: break-word;
}

.leftarrow, .rightarrow {
    font-size: 42px;
}

.invisible {
    display: none;
}