body {
    margin: 0;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.goal, .tactic {
    stroke: black;
}

.goal {
    fill: lightsteelblue;
    margin: 0;
}

.solvedgoal {
    fill: green;
}

.tactic {
    fill: orange;
}

.current {
    stroke: lightgreen;
    stroke-width: 5px;
}

.node {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 18px;
    word-wrap: break-word;
}

.leftarrow, .rightarrow {
    font-size: 42px;
}

.invisible {
    display: none;
}

button, p, ul, svg {
    margin: 0;
}

svg {
    vertical-align:top;
}

.node {
    text-align: center;
}
