html, html>body, #interface {
  height: 100%;
  margin: 0;
  /*overflow: hidden;*/
}
#editor, #context {
  float: left;
  height: 100%;
  width: 50%;
}
.CodeMirror {
  border: 0px solid #000000;
  height: 100%;
}

/*
#interface, #main, #main-right, #context, #context-tabs, #coqtop, #coqtop-tabs {
  display: flex;
}
#interface, #main-right, #context, #coqtop {
  flex-direction: column;
}
a, button {
  border-radius: 0 !important;
  padding: 2px 4px !important;
}
.tab-pane {
  display: flex;
  width: 100%;
}
.tab-pane > .ace_editor {
  display: flex;
  flex-grow: 1;
}
.coq-command {
  background: #00AA00;
  position: absolute;
  z-index: 5;
}
.marker {
  position: absolute;
}
.processing, .processed, .toprocess, .highlight {
  border-radius: 0 !important;
  position: absolute;
  z-index: 5;
}
#pretty-content {
  display: inline-block;
  font-family: monospace;
  font-size: 12px;
  width: 100%;
}
.syntax {
  display: inline-block;
}
.hyp {
  display: flex;
  align-items: center;
}
.peacoq-diff {
  background-color: #FFE0B2;
}
.peacoq-highlight {
  background-color: lightblue;
}
.horizontal-separator {
  height: 4px;
  background-color: black;
}
svg body {
  font-size: 12px;
}

li.context-menu-item {
  font-family: monospace;
}
*/
