html > body {
    height: 100vh;
}

.CodeMirror {
    border: 1px solid black;
    box-sizing: border-box;
    height: 100%;
}

.btn-group {
    display: table-cell;
    vertical-align: top;
}

#toolbar {
    height: 45px;
}

#main-and-prooftree {
    height: calc(100% - 45px);
}

#main {
    border: 0;
    font-family: monospace;
    height: 100%;
}

#main-left, #main-right {
    float: left;
    height: 100%;
    margin: 0;
    width: 50%;
}

#coqtop-context {
    height: 80%;
}

#coqtop-response {
    height: 20%;
}

#coqtop {
    height: 80%;
}

#coqtop-error {
    height: 20%;
}

#prooftree {
    border: 0;
    height: 0%;
}

#revision {
    font-family: monospace;
    text-align: right;
}

#toolbar {
    display: table;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
