.btn-group {
    display: table-cell;
    vertical-align: top;
}
#coqtop {
    border: 0;
    float: left;
    margin: 0;
    width: 50%;
    white-space: pre-wrap;
    word-break: normal;
}
#editor {
    float: left;
    margin: 0;
    width: 50%;
    white-space: pre-wrap;
    word-break: normal;
}
#main {
    border: 0;
    font-family: monospace;
}
#prooftree {
    border: 0;
}
#revision {
    font-family: monospace;
    text-align: right;
}
#toolbar {
    display: table;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
