.prooftree body {
    min-width: 0;
}

.prooftree svg {
    font-size: 14px;
}

.prooftree textarea {
    margin: 0;
    padding: 0 0 0 2px;
    border: 0;
}

pre.goalNode {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.link {
    fill: none;
}

.solved { fill: #33F06C; }
.context, .debug { fill: #CFCFC4; }

.monospace {
    font-family: DejaVu Sans Mono, monospace;
}

.debug {
    /*display: none;*/
}

.leftarrow, .rightarrow {
    font-size: 42px;
}

.invisible {
    display: none;
}

.prooftree hr {
    border: 0;
    border-color: black;
    border-top: 1px solid #eee;
    margin: 0;
}

.prooftree div, .prooftree p, .prooftree textarea, .prooftree .form-control {
    line-height: normal;
    word-break: normal;
    word-wrap: break-word;
}

.removed { background-color: #FF6961; }
.added { background-color: #77DD77; }

.vernac { color: red; }
.syntax { color: black; }
.identifier { color: blue; }

.diff-pane {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.diff-pane-sep {
    width: 10%;
    display: inline-block;
    text-align: center;
    font-size: 26px;
}

.term {
    /* display: inline-block; */
    /* vertical-align: top; */
    /*border: 1px solid black;*/
}

.inline-block {
    display: inline-block;
    max-width: 100%;
    /* position: relative; */
    vertical-align: top;
}