
svg {
    font-size: 14px;
}

textarea {
    margin: 0;
    padding: 0 0 0 2px;
    border: 0;
}

.link {
    fill: none;
    stroke: black;
}

.goal { fill: #AEC6CF; margin: 0; }
.tactic { fill: #CB99C9; }
.solved { fill: #03C03C; }
.context, .debug { fill: #CFCFC4; }
.current {
    stroke: #03C03C;
    stroke-width: 4px;
}

.monospace {
    font-family: DejaVu Sans Mono, monospace;
    word-break: break-all;
}

.debug {
    /*display: none;*/
}

.leftarrow, .rightarrow {
    font-size: 42px;
}

.invisible {
    display: none;
}

hr {
    border-color: black;
    margin: 0;
}

div, p, textarea, .form-control {
    line-height: normal;
}

.removed { background-color: #FF6961; }
.added { background-color: #77DD77; }

.vernac { color: red; }
.syntax { color: black; }
.identifier { color: blue; }

.diff-pane {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.diff-pane-sep {
    width: 10%;
    display: inline-block;
    text-align: center;
    font-size: 26px;
}
