body { font-family: monospace; margin: 0; }

.query { background-color: lightblue; }

.response { background-color: lightgreen; }

.goal { background-color: orange; }

.error { background-color: salmon; }

#proof { width: 100%; }

#current, #tabs, #spacing {
    display: table-cell;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#spacing {
    padding: 10px;
    text-align: center;
}

#doit, #undoit, #qed { width: 100px; }
