body {
    font-family: monospace;
    margin: 10px;
}

.query { background-color: lightblue; }

.response { background-color: lightgreen; }

.goal { background-color: orange; }

.error { background-color: salmon; }

#proof { width: 100%; }

#current, #tabs, #spacing {
    display: table-cell;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#spacing {
    padding: 10px;
    text-align: center;
}

#doit, #undoit, #qed { width: 100px; }

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}

#infovis {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
}
